body {
    padding: 10px;
    font-family: Mulish;
}
button:focus {
	outline: none;
}

#header {
	background-color: #e4dbbf;
}

a, a:hover {
	text-decoration: none;
	color: black;
}

.ad {
	padding: 20px;
	margin: 10px 0px;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	height: 200px;
}
.ad:hover {
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.1);
	border-color: #c4c4c4;
}

.created {
	font-size: 12px;
	color: #696969;
	font-weight: bold;
}

.nav-link {
}
.nav-link:hover {
	border-bottom: 1px solid #ded3b1;
}

.username {
	font-weight: bold;
	padding: 1px 5px;
}

.username:hover {
	border: 2px double #d8cba3;
	border-radius: 2px;
	/*border-bottom: 1px solid #ff6c00;*/
}
.adv-info {
	position:relative;
	left: 320px;
	display: table;
}

.comment-date {
	font-size: 10.5px;
	color: #818181;
	font-weight: bold;
}

.comment-text {
	margin-top: -12px;
	border-radius: 2px;
}

#filter {
	position: relative;
	bottom: 40px;
	float: right;
}

button {
	padding: 1px 5px 1px;
	border-radius: 2px;
	border: 1px solid #c4c4c4;
	font-size: 16px;
}

button:hover {
	box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.1);
}

.adv-img {
	margin: 15px 0px 15px;
}

#bid-input {
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	padding: 1px 5px;
	width: 100px;
	margin-top: 35px;
}

#bid-input:focus, input:focus {
	outline: none;

}

#adv-description {
	margin: 15px 0px 20px;
	display: table;
}

#adv-price {
	margin-bottom: 12px;
}

#adv-details {
	margin-top: 25px;
	margin-bottom: 20px;
}

#adv-feedback {
	position: relative;
	bottom: 8px;
}
#adv-comment:focus, textarea:focus {
	outline: none;
	min-height: 30px;
}

.create-input {
	margin: 10px 0px 10px;
	position: relative;
}

#create-button {
	position: relative;
	top: 10px;
	left: 218px;
}

#create-main {
	
}

#image-cr {
	left: 36px;
}
#title-cr {
	left: 51px;
}
#price-cr {
	left: 48px;
}
#select {
	position: relative;
	left: 13px;
}
#descr-label {
	position: relative;
	bottom: 50px;
}