{% extends "auctions/layout.html" %}

{% block title %}
 {{ advert.title }}
{% endblock %}


{% block body %}
		<p style="display: table; float: right;">{{ advert.category }}</p>
		<img src={{advert.image}} alt="pic" style="width: 60%;">
		<h1> {{ advert.title}} </h1>
		<div> {{ advert.description }} </div>
	
	{% if advert.active %}
		<div style="font-weight: bold; font-size: 22px;"> ${{ advert.bid.last.amount }}</div>
		{% if user.is_authenticated and advert.bid.first.user == username %}
			<form action="" method="get">
				<input type="hidden" name="q" value="close">
				<button type="submit">Close auction</button></a>
			</form>
		{% endif %}
		{% if user.is_authenticated %}
			<form action="{{advert.id}}" method="post">
				{% csrf_token %}
				<input type="number" step="0.01" min={{min_bid}} name="amount" required>
				<button type="submit">Place bid</button>
			</form>
		{% else %}
			<p><span style="font-weight: bold;">Log in</span> to place a bid</p>
		{% endif %}
	
	{% else %}
		{% if advert.bid.last.user == username %}
			<div>You won this auction!</div>
		{% else %}
			<div>The winner is {{ advert.bid.last.user }} with ${{ advert.bid.last.amount }} bid!</div>
		{% endif %}
	{% endif %}
	<br>
	<h3>Comments</h3><hr>
	{% if user.is_authenticated %}
		<form action={{id}} method="post">
			{% csrf_token %}
			<textarea type="text" name="comment"></textarea>
			<button type="submit" >Leave feedback</button>
		</form>
	{% else %}
		<p><span style="font-weight: bold;">Log in</span> to leave feedback</p>
	{% endif %}
	{% for comment in comments %}
		<div class="comment">
			<a href="{% url 'profile' user %}" class="username">{{ comment.user }}</a>
			<p class="comment-date">{{ comment.date }}</p>
			<p class="comment-text">{{ comment.text }}</p>
		</div>

	{% endfor %}

{% endblock %}