{% extends "auctions/layout.html" %}

{% block title %}
 {{ advert.title }}
{% endblock %}


{% block body %}
	<h2> {{ advert.title}} </h2>
    <!-- place for image section -->
	<div> {{ advert.description }} </div>
	<div> Last bid by <a href="" id="username">{{ advert.bid.last.user }}</a>: ${{ advert.bid.last.amount }} </div>
	{% if user.is_authenticated %}
		<form action="{{advert.id}}" method="post">
			{% csrf_token %}
			<input type="number" step="0.01" min={{min_bid}} name="amount" required>
			<button type="submit">Place bid</button>
		</form>
	{% else %}
		<p>Log in to place a bid</p>
	{% endif %}
{% endblock %}