{% extends "auctions/layout.html" %}

{% block title %}
Create New Lot
{% endblock %}


{% block body %}
<h2>Create a lot</h2>
<form action="create" method="post" style="margin: 20px">
	{% csrf_token %}
	<select name="category">
		<option value="Fashion">Fashion</option>
		<option value="Toys">Toys</option>
		<option value="Electronics">Electronics</option>
		<option value="Home">Home</option>
		<option value="Appliances">Appliances</option>
		<option value="Books">Books</option>
	</select><br>
	<input type="url" name="image" placeholder="Image URL"><br>
	<input type="text" name="title" placeholder="Title"><br>
	<textarea name="description" placeholder="Description"></textarea><br>
	<input type="number" step="0.01" min=0 name="price" placeholder="Start price"><br>
	<button type="submit" style="padding: 1px 5px; font-size: 18px;">Submit</button>
</form>
{% endblock %}