{% extends "auctions/layout.html" %}

{% block title %}
Create New Lot
{% endblock %}


{% block body %}
<h2>Create a lot</h2>
<div id="create-main">
	<form action="create" method="post" style="margin: 20px">
		{% csrf_token %}
		<select name="category" id="select">
			<option value="Fashion">Fashion</option>
			<option value="Toys">Toys</option>
			<option value="Electronics">Electronics</option>
			<option value="Home">Home</option>
			<option value="Appliances">Appliances</option>
			<option value="Books">Books</option>
		</select><br>
		<input class="create-input" type="url" name="image" placeholder="Image URL" ><br>
		<input class="create-input" type="text" name="title" placeholder="Title"><br>
		<textarea class="create-input" name="description" placeholder="Description"></textarea><br>
		<input class="create-input" type="number" step="0.01" min=0 name="price" placeholder="Start price"><br>
		<button id="create-button"type="submit" style="padding: 1px 5px; font-size: 18px;">Submit</button>
	</form>
</div>
{% endblock %}